* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background-color: aqua !important;
}

main {
    background-color: darkgray;
    /* min-height: 80vh; */


}

body {
    background-color: coral;

}

#contenedor img {
    object-fit: cover;
    height: 300px;
}